

body {
    font-family: FontAwesome;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.3;
    color: #222;
}

#navvy {
	position: absolute;
	top: 40px;
	width: 100%;
	border-radius: 2px;
	z-index: 999;
    background: rgba(20, 20, 19, .75) !important;
}

.navbar .navbar-nav li.active > a {
    color: #e64724 !important;
}

.navbar .navbar-nav li > a {
    color: white !important;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: .8em !important;
}

.navbar .navbar-nav li > a:hover {
    color: #e64724 !important;
}

.drop {
    background: rgba(20, 20, 19, .75) !important;
}

.drop > a {
    color: white !important;
}

.drop > a:hover {
    color: black !important;
}

.logo {
    font-family: 'Noto Sans HK', sans-serif;
}

.logo1 {
    font-weight: bolder;
}

.logo2 {
    color: #cfcfca !important;
    font-weight: 100 !important;
}

.carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    top: 50%;
  }

.caro {
    font-family: 'Lily Script One', cursive;
    font-size: 5em !important;
}

.caro-write {
    letter-spacing: 5px;
    word-spacing: 6px;
}

.caro-btn {
    color: white !important;
    background: #e64724 !important;
}

.caro-btn:hover {
    transform: scale(1.1);
	z-index: 99;
	transition: transform .2s ease-in-out;
}

.caro-indicator li {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    opacity: 1 !important;
}

.caro-indicator .active {
    background-color: #e64724 !important;
}


.three-title {
    font-weight: bolder;
    font-size: .7em !important;
}

.item {
    cursor: pointer;
}


.bigtitle {
    font-weight: bolder;
    font-size: .75em !important;
}

.fas, .far, .fal, .fam {
    color: #e64724 !important;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    font-size: .55em;
    font-family: 'Noto Sans HK', sans-serif;
    background: #e64724 !important;
}

.bold {
    font-weight: bolder !important;
    font-size: 2em;
}

.card-text {
    letter-spacing: .5px;
    line-height: 16px;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: light;
    font-size: .6em !important;
    opacity: .85;
}

.multi {
    background: rgb(240, 235, 235) !important;
}

.red {
    background: #e64724 !important;
}

.about {
    position: absolute !important;
    top: -300px !important;
    left: 125% !important;
    z-index: 999;
}

.redtitle {
    font-family: 'Lily Script One', cursive;
}

.redtext {
    color: #e64724 !important;
}

.big {
    font-size: 2em !important;
}

.services {
    font-family: 'Lily Script One', cursive;
}

.services > span {
    color: #e64724;
}

.boda {
    border-left: .25px solid rgb(228, 217, 217);
    border-right: .25px solid rgb(228, 217, 217);
}


.set p:hover {
	color: white;
}

.set:hover {
	color: black;
	background: #e64724;
	transform: scale(1.1);
	z-index: 99;
	transition: transform .5s ease-in-out;
	box-shadow: 10px 10px 20px -5px black; 
}


.foot {
    background: rgb(19, 20, 20) !important;
}

.phone, .mail {
    font-size: .7em !important;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 500;
}

.foothead {
    font-size: .65em !important;
    font-family: 'Noto Sans HK', sans-serif;
}

.hrln {
    border: 0; border-top: 1px solid rgb(28, 29, 29) !important;
}

.socialfont:hover {
    transform: scale(1.1);
	z-index: 99;
	transition: transform .5s ease-in-out;
    box-shadow: 10px 10px 20px -5px black; 
    font-weight: 900 !important;
}



    /* MEDIA QUERIES TO HANDLE MOBILE DEVICE RESPONSIVITY */

	/*large screen*/
    @media only screen and (min-width: 1200px) {

    }
    
    /* tablets and desktop */
    @media only screen and (min-width: 768px) and (max-width: 1023px) {

        .about {
            top: -270px !important;
        }
        
        .redtitle {
            font-size: 1.4em !important;
        }

        .top-left {
            width: 30%;
            font-size: .4em;
        }


        .bold {
            font-size: 1.5em;
        }

        .bigtitle {
            font-size: .7em !important;
        }

        .three-text {
            font-size: .5em !important;
        }
        
    }
    
    /* phones */

    @media only screen and (max-width: 576px) {  
        

    }

    /* portrait phones */
    @media only screen and (max-width: 767px) and (orientation: portrait) {
        #navvy {
            top: 18px;
            padding: 0 !important;
            padding-right: 2rem !important;
            
        }

        .brandwrap {
            padding-left: 0 !important;
            margin-top: 1rem;
            margin-bottom: .4rem;
            /* border: 2px solid yellow; */
        }

        .navbar-brand {
            padding: 0 !important;
            margin: 0 !important;
            /* border: 2px solid red !important; */
            font-size: 1.5em !important;
        }

        .navbar-toggler {
            padding: 0.15rem .4rem !important;
            margin-left: 10rem;
            margin-bottom: .7rem;
            /* border: 2px solid green !important; */
            font-size: 1em !important;
        }

        .carousel-indicators {
            padding: 0!important;
            margin: 0 !important;
        }

        .carousel-indicators > li {
            margin-bottom: 1rem!important;
            padding: 0!important;
        }

        .carousel-caption {
            font-size: .5em !important;
            transform: translate(-37%, -50%);
            bottom: 0;
            top: 52%;
          }

        .carousel-control-prev, .carousel-control-next {
            opacity: .2 !important;
        }

        .carousel-inner {
            overflow: hidden !important;
            height: 450px !important;
            width: 210% !important;
        }
        
        .imgalign {
            height: 400px !important;
            position: relative !important; 
            right: 200px;
        }

        .about {
            position: absolute !important;
            top: -180px !important;
            left: 0 !important;
        }

        .services {
            margin-top: 4rem !important;
        }

        .top-left {
            width: 45%;
            font-size: .4em;
        }


        .bold {
            font-size: 1.5em;
        }

        .bigtitle {
            font-size: .7em !important;
        }

        .three-text {
            font-size: .5em !important;
        }

    }
